.buscador {
    display: flex;
    align-items: center;
    gap: 10px;

    margin: 20px 0;
    padding: 10px 14px;

    border: 1px solid #ddd;
    border-radius: 8px;
}

.buscador input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
}